.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

li.card {
  flex-direction: row;
  line-height: 1.1
}

.lightgray {
  background-color: #bbb;
}
