{% extends "base.html" %}

{% load i18n %}

{% block title %}
  New details {{ object.id }}
{% endblock title %}

{% block meta %}
<meta property="og:title" content="{{ object.title }}">
<meta property="og:description" content="{{ excerpt }} ...">
<meta property="og:type" content="article">
<meta property="og:image" content="https://notizie.calomelano.it/icons/{{ object.feed.icon }}">
<meta property="og:url" content="https://notizie.calomelano.it/article/{{ object.id }}">
<meta property="og:site_name" content="flash">
<script type="text/javascript">
  function linkClick() {
    window.location.href = "?redirect=true";
    return false;
  }
</script>
{% endblock meta %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <div class="text-center col-md-8 offset-md-2">
      <div class="float-start">
        <span class="h2">
          <img
            style="margin: 5px"
            width="30"
            height="30"
            src="https://notizie.calomelano.it/{{ object.feed.icon }}"
            alt="feed logo"
          />
          {{ object.feed.title }}
        </span>
      </div>
      <div class="text-muted float-end">
        <small>
          {{ object.stamp | timesince }} {% trans "ago" %} ({{ object.stamp | date:"Y-m-d H:i" }})
        </small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 title">
      <h1 class="float-start font-weight-bold">
        <span id="title_tts">
          {% if object.language != 'it' and object.title %}
            <span
              class="card-text"
              style="margin-bottom: 0px"
              lang="{{ object.language }}"
              >
              [{{ object.title_original }}]&nbsp;
            </span>
          {% endif %}
          <span lang="{% if object.title %}it{% else %}{{ object.language }}{% endif %}">
            {% if object.title %}{{ object.title }}{% else %}{{ object.title_original }}{% endif %}
          </span>
          {% if not object.title and not object.title_original %}
            <span lang="it">[Senza titolo]</span>
          {% endif %}
      </h1>
    </div>
  </div>
  <div class="row">
    {% if object.author %}
      <div class="col-md-8 offset-md-2 text-muted">
        <span class="text-muted"> {% trans "By" %} </span>
        <span>{{ object.author }}</span>
      </div>
    {% endif %}
    <div class="col-md-8 offset-md-2 text-muted">
      <small>{% trans "Source link" %}: </small>
      <a onclick="linkClick()" href="#" title="{{ object.url }}">
        <small style="word-wrap: break-word">{{ object.url }}</small>
      </a>
      <br />
    </div>
  </div>
  <div class="row mt-3">
    <div lang="en" class="content col-md-8 offset-md-2">
      {{ excerpt }}
      <span> ...</span>
    </div>
  </div>
  <div class="alert alert-info mt-5 text-center" role="alert">
    <h4 class="alert-heading">{% trans "Beware!" %}</h4>
    <p>
      {% trans "This is a preview of the article. To access the full text click on the <b>source link</b> or <a href='/accounts/login/' title='Login'>sign in</a>" %}.
    </p>
  </div>
</div>
{% endblock content %}
